<nav>
  <ul id="nav-ul">
    <li class="nav-li-start">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="nav-li">@Html.ActionLink("Actors", "Index", "Actors")</li>
    <li class="nav-li">@Html.ActionLink("Films", "Index", "Films")</li>
    <li class="nav-li">@Html.ActionLink("Countries", "Index", "Countries")</li>
  </ul>
</nav>