@* @{
  Layout = "_Layout";
} *@

<h1>Fanbase!</h1>
<p>@Html.ActionLink("See all actors", "Index", "Actors")</p> <p>@Html.ActionLink("See all films", "Index", "Films")</p>
 <p>@Html.ActionLink("See all countries", "Index", "Countries")</p>