@using Fanbase.Models;
@model List<Fanbase.Models.Actor>

<h1>Actors</h1>
<ul>
  @foreach (Actor actor in Model)
  {
    <li>@Html.ActionLink($"{actor.Name}", "Details", new { id = actor.ActorId })</li>
  }
  </ul>

  <p>@Html.ActionLink("Add new actor", "Create")</p>

<p>@Html.ActionLink("Return to Films", "Index", "Films")</p>
<p>@Html.ActionLink("Return Home", "Index", "Home")</p>